@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<center>
    <h2 style="color:blue;">welcome to admin panel</h2>
</center>